// @use "../abstract/variables" as var;
// @use "../abstract/mixin" as mixin;

.grid-container {
    display: grid;
}

a {
    text-decoration: none;
}

.sect {
    h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
        display: flex;
        align-items: center;
        letter-spacing: -0.64px;
        color: #0F1826;
        margin-bottom: 24px;
    }

    &__p {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #607987;
        margin-bottom: 24px;
    }

    .show-more {
        margin-bottom: 48px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: -0.32px;
        color: #0EB182;
        margin-top: 30px;
    }

    .advantages {
        padding: 48px 0;


        h2 {
            margin-bottom: 48px;
        }

        &__contents {
            grid-template-columns: auto auto;
            gap: 54px;

            .rests {
                display: none;
            }

            .hidden {
                display: grid;
            }
        }

        &__content {
            grid-template-columns: auto auto;
            column-gap: 47px;
            align-items: flex-start;

            img {
                width: 48px;
                height: 42px;
            }

            h4 {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                letter-spacing: -0.4px;
                color: #0F1826;
                margin-bottom: 14px;
                margin-top: 0;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                display: flex;
                align-items: center;
                letter-spacing: -0.28px;
            }
        }

        .show-more {
            display: flex;
            align-items: center;
            gap: 17px;

            img {
                width: 21px;
                height: 21px;
            }

            img:hover {
                border: 1px solid rgb(209, 121, 50);
                border-radius: 50%;
            }
        }

    }

    .cources {
        padding: 48px 0;
        background: #F9F8F7;


        &__wrapper {
            display: flex;
            align-items: center;
            gap: 50px;
        }

        &__card {
            display: block;
            padding: 10px 40px;
            border: 1px solid #607987;
            border-radius: 4px;
            transition-delay: 1s;
            transition: 3s all;

            &:hover {
                background: hsl(0, 0%, 100%);
                border: none;
                box-shadow: 0 0 5px #F9F8F7;
            }

            h5 {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 27px;
                display: flex;
                align-items: center;
                letter-spacing: -0.4px;

                color: #0F1826;
            }

            p {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                align-items: center;
                letter-spacing: -0.32px;
                color: #607987;
            }
        }


    }

    .workplace {
        padding: 48px 0;

        &__inner {
            grid-template-columns: auto auto auto auto auto auto;
            align-items: flex-end;
            gap: 30px;
        }

        &__box {
            margin-top: 48px;
            padding: 16px 12px;
            background: #F9F8F7;
            border-radius: 8px;
        }
    }
}