$bg-main-color: #f1f0ee;
$bg-secondary-color: #f9f8f7;
$text-color: #0eb182;
$secondary-color: #fff;
$tab-color: #f7f7f5;
$label-color: #4e4e4e;
$input-color: rgba(14, 16, 20, 0.9);
$btn-color: #ba8d5b;
$footer-text: #607987;
$nav-color: rgba(23, 25, 29, 0.7);
$green: #7cd1ac;
$form-drink-bg: rgba(83, 83, 83, 0.1);
$form-drink-shedow: rgba(241, 216, 253, 0.08);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

body.night {
  * {
    color: #000;
  }
  .navbar {
    background: #0f1826 !important;
    a {
      color: #fff !important;
    }
  }
  h1,
  h2,
  b,
  p {
    color: #fff;
  }
  .cources__card{
    h5{
      color: #fff;
    }
    &:hover h5{
      color: #000;
    }
  }
  button{
    color: #000;
  }
  .header {
    background-color: #09111b;
    background-image: url(../../images/svg/bg-hero-inightsvg.png);
  }
  .advantages{
    background-color: #1E1E1E;
  }
  .sect__p{
    color: #607987;
  }
  .cources{
    background-color: #09111B;
  }
  .workplace{
    background-color: #021923;
    p{
      color: #fff;
    }
  }
  .section_videos{
    background-color: #021923;
    .date, .fullname, button{
      color: #fff;
    }
    button{
      background-color: #000;
    }
  }
  .footer{
    background: #0F1826;
    li, &__title{
      color: #fff;
    }
  }
}
